<a href="https://colab.research.google.com/github/Laxmi1nayak/week_1/blob/main/titanic_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
import numpy as np


url = "https://raw.githubusercontent.com/Amolak001/Titanic-Dataset-Analysis/main/train.csv"
df = pd.read_csv(url)

print("Shape:", df.shape)
print("Missing values:\n", df.isnull().sum())
print("Data types:\n", df.dtypes)


df.drop(columns=['Cabin', 'Ticket'], inplace=True)
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)


df.rename(columns={'SibSp': 'Siblings/Spouses', 'Parch': 'Parents/Children'}, inplace=True)


print(df.loc[:4, ['Name', 'Sex', 'Age', 'Survived']])
print(df.iloc[9])

grouped = df.groupby('Pclass')['Survived'].agg(['mean', 'sum', 'count'])
print("Survival by class:\n", grouped)


pivot = pd.pivot_table(df, values='Survived', index='Sex', columns='Pclass', aggfunc='mean')
print("Pivot table:\n", pivot)


extra_info = pd.DataFrame({
    'PassengerId': df['PassengerId'],
    'VIP': np.random.choice([True, False], size=len(df))
})
merged_df = pd.merge(df, extra_info, on='PassengerId')


summary = merged_df[['PassengerId', 'Name', 'Survived', 'VIP']]
summary.to_csv("titanic_summary.csv", index=False)
summary.to_excel("titanic_summary.xlsx", index=False)

print("Summary exported successfully!")

Shape: (891, 12)
Missing values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
Data types:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
                                                Name     Sex   Age  Survived
0                            Braund, Mr. Owen Harris    male  22.0         0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0         1
2                             Heikkinen, Miss. Laina  female  26.0         1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0         1
4                           Allen, Mr. William Henry    male  35.0         0
PassengerId                                          10
Survived                                              1
Pclass                                                2
Name                Nasser, Mrs. Nicholas (Adele Achem)
Sex                                              female
Age                                                14.0
Siblings/Spouses                                      1
Parents/Children                                      0
Fare                                            30.0708
Embarked                                              C
Name: 9, dtype: object
Survival by class:
             mean  sum  count
Pclass
1       0.629630  136    216
2       0.472826   87    184
3       0.242363  119    491
Pivot table:
 Pclass         1         2         3
Sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

/tmp/ipython-input-2216959912.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/tmp/ipython-input-2216959912.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

Summary exported successfully!

In [4]:
#data frame creation
import pandas as pd

# Load CSV from URL
url = "https://raw.githubusercontent.com/Amolak001/Titanic-Dataset-Analysis/main/train.csv"
df = pd.read_csv(url)
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [5]:
# loc: label-based
print(df.loc[0:4, ['Name', 'Sex', 'Age']]) s

# iloc: position-based
print(df.iloc[10])

                                                Name     Sex   Age
0                            Braund, Mr. Owen Harris    male  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                             Heikkinen, Miss. Laina  female  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                           Allen, Mr. William Henry    male  35.0
PassengerId                                 11
Survived                                     1
Pclass                                       3
Name           Sandstrom, Miss. Marguerite Rut
Sex                                     female
Age                                        4.0
SibSp                                        1
Parch                                        1
Ticket                                 PP 9549
Fare                                      16.7
Cabin                                       G6
Embarked                                     S
Name: 10, dtype: object

In [6]:
#data cleaning
# Drop columns
df.drop(columns=['Cabin', 'Ticket'], inplace=True)

# Fill missing values
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Rename columns
df.rename(columns={'SibSp': 'Siblings/Spouses', 'Parch': 'Parents/Children'}, inplace=True)

/tmp/ipython-input-871284311.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/tmp/ipython-input-871284311.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [7]:
# data aggregation
# Group by class and aggregate survival
grouped = df.groupby('Pclass')['Survived'].agg(['mean', 'sum', 'count'])
print(grouped)

# Pivot table: survival rate by sex and class
pivot = pd.pivot_table(df, values='Survived', index='Sex', columns='Pclass', aggfunc='mean')
print(pivot)

            mean  sum  count
Pclass
1       0.629630  136    216
2       0.472826   87    184
3       0.242363  119    491
Pclass         1         2         3
Sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [9]:
# data merging
import numpy as np

# Create dummy VIP column
extra_info = pd.DataFrame({
    'PassengerId': df['PassengerId'],
    'VIP': np.random.choice([True, False], size=len(df))
})

# Merge with original DataFrame
merged_df = pd.merge(df, extra_info, on='PassengerId')
print(merged_df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  \
0                              Braund, Mr. Owen Harris    male  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                               Heikkinen, Miss. Laina  female  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                             Allen, Mr. William Henry    male  35.0
..                                                 ...     ...   ...
886                              Montvila, Rev. Juozas    male  27.0
887                       Graham, Miss. Margaret Edith  female  19.0
888           Johnston, Miss. Catherine Helen "Carrie"  female  28.0
889                              Behr, Mr. Karl Howell    male  26.0
890                                Dooley, Mr. Patrick    male  32.0

     Siblings/Spouses  Parents/Children     Fare Embarked    VIP
0                   1                 0   7.2500        S   True
1                   1                 0  71.2833        C   True
2                   0                 0   7.9250        S  False
3                   1                 0  53.1000        S  False
4                   0                 0   8.0500        S   True
..                ...               ...      ...      ...    ...
886                 0                 0  13.0000        S   True
887                 0                 0  30.0000        S   True
888                 1                 2  23.4500        S   True
889                 0                 0  30.0000        C  False
890                 0                 0   7.7500        Q   True

[891 rows x 11 columns]

In [12]:
# exporting
# Export cleaned summary
summary = merged_df[['PassengerId', 'Name', 'Survived', 'VIP']]
summary.to_csv("titanic_summary.csv", index=False)
summary.to_excel("titanic_summary.xlsx", index=False)
print("Export complete! Here's a preview:")
print(summary.head())

Export complete! Here's a preview:
   PassengerId                                               Name  Survived  \
0            1                            Braund, Mr. Owen Harris         0
1            2  Cumings, Mrs. John Bradley (Florence Briggs Th...         1
2            3                             Heikkinen, Miss. Laina         1
3            4       Futrelle, Mrs. Jacques Heath (Lily May Peel)         1
4            5                           Allen, Mr. William Henry         0

     VIP
0   True
1   True
2  False
3  False
4   True